@import url(https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css);
body, .container {
  min-height: 100vh;
}

main {
  height: auto;
}

.image-gallery {
  max-height: 250px;
  margin: 0 auto;
  padding: 2px;
  background: white;
  border: 1px solid #777;
}

.has-shadow {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}
