@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

body, .container {
  min-height: 100vh;
}

main {
  height: auto;
}

.card-gallery {
  transition: all .2s;
}

.card-gallery:hover {
  transform: scale(1.05);
}

.card-header {
  min-height: 220px;
}

.image-gallery {
  max-height: 200px;
  border: 2px solid white;
}

.has-shadow {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}